#
# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause
#

menuconfig MCUX_COMPONENT_middleware.multicore.remoteproc
    bool "Multicore Remote Processor Framework"
    help
        This option will enable Multicore Remote Processor Framework 
